@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-secondary: #e2e8f0;
  --color-accent: #2dd4bf;

  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
}

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}